body {
  background: #f8f8f8;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.form-container {
  background: #d6d1d1;
  max-width: 700px;
  margin: 40px auto;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 20px #aaa;
}

h2, h3 {
  margin-top: 0;
  color: #f50808;
}

label {
  display: inline-block;
  width: 200px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #131212;
}
.label-long {
  display: inline-block;
  width: 750px;  
  white-space: normal; 
}


input[type=text], input[type=email], input[type=number], select, textarea {
  width: 60%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 70px;
  resize: vertical;
}

.section {
  margin-bottom: 18px;
}

.radio-group {
  display: flex;
  flex-direction: row;  
  gap: 16px;            
  margin-top: 6px;
  margin-bottom: 12px;
}

.radio-group label {
  margin-bottom: 0;
  white-space: nowrap;
}


.btn-group {
  display: flex;
  justify-content:center ;
  gap: 10px;
  margin-top: 20px;
}

input[type=submit], input[type=reset] {
  padding: 10px 28px;
  background: #295898;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover {
  background: #163e62;
}
