
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f0f4f8;
}


header {
    background: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}


.profile-box {
    width: 50%;
    margin: 30px auto;
    background: #ffffff;
    padding: 25px;
    border: 2px solid #d1d1d1;
    border-radius: 10px;
    text-align: center;
}


.profile-img {
    width: 180px;
    height: 180px;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: 20px;
}




footer {
    background: #003366;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
