
nav {
    background-color: #2c7ccd;
    padding: 15px;
    width: 100%;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
}


nav ul li a:hover {
    background-color: #b6cde3;
    color: #171716;
    border-radius: 5px;
}
